{
  "root": true,
  "env": {
    "node": true,
    "browser": true
  },
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "project": "tsconfig.json",
    "tsconfigRootDir": ".",
    "parser": "babel-eslint",
    "sourceType": "module"
  },
  "extends": [
    "es/node",
    "plugin:@typescript-eslint/eslint-recommended",
		"plugin:@typescript-eslint/recommended",
		"plugin:@typescript-eslint/recommended-requiring-type-checking"
  ],
  "rules": {
    "quotes": ["warn", "double", { "allowTemplateLiterals": true }],
    "dot-location": [2, "property"],
    "id-length": "off",
    "no-underscore-dangle": [ "error", {
      "allowAfterThis": true,
      "allowAfterThisConstructor": true
    }],
    "unicorn/filename-case": [
      "error",
      {
        "case": "kebabCase"
      }
    ],
    "operator-linebreak": ["error", "before"],
    "template-curly-spacing": [2, "always"]
  },
  "plugins": [
    "@typescript-eslint"
  ]
}
