/* Border Box Set */

.range *,
.range *::before,
.range *::after {
  box-sizing: border-box;
}

/* Range Container */

.range {
  width: 100%;
}

/* Range Base */

.range__base {
  width: 100%;
  height: 10px;
  position: relative;

  /* background-color: transparent; */

  background: linear-gradient(117deg,#0d064c 0,#740887 100%);

  border: 1px solid rgb(128, 128, 128);
  border-radius: 5px;
}

/* Range Handle */

.range__handle {
  width: 15px;
  height: 25px;
  position: absolute;
  left: 0px;
  top: -8px;

  background-color: rgb(62, 140, 230);

  border-radius: 10%;

  cursor: pointer;
}
