/* Border Box Set */

.range *,
.range *::before,
.range *::after {
  box-sizing: border-box;
}

/* Range Container */

.range {
  width: 100%;
}

/* Range Base */

.range__base {
  width: 100%;
  height: 10px;
  position: relative;

  background-color: transparent;

  border: 1px solid rgb(128, 128, 128);
  border-radius: 5px;
}

/* Range Handle */

.range__handle {
  width: 10px;
  height: 15px;
  position: absolute;
  left: 0px;
  top: -3.5px;

  background-color: rgba(62, 140, 230, 0.4);

  border-radius: 10%;

  cursor: pointer;
}
