/* Border Box Set */

.range *,
.range *::before,
.range *::after {
  box-sizing: border-box;
}

/* Range Container */

.range {
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
}

/* Range Base */

.range__base {
  width: 100%;
  height: 10px;
  position: relative;

  border: 1px solid rgb(128, 128, 128);
  border-radius: 5px;
}

.range__base--vertical {
  width: 10px;
  height: 100%;
}

/* Range Handle */

.range__handle {
  width: 15px;
  height: 25px;
  position: absolute;
  left: 0;
  top: -8px;

  background-color: rgba(62, 140, 230, 1);

  border-radius: 10%;

  cursor: pointer;
}

.range__handle--upper {
  background-color: rgb(230, 62, 62);
}

.range__handle--vertical {
  width: 25px;
  height: 15px;
  top: 0;
  left: -8px;
}

/* Outer Components */

/* Arrow Btns */

.range__btn-arrow {
  border: 1px solid #000000;
  border-radius: 5px;
  background-color: transparent;

  font-weight: 700;

  transition: 200ms opacity ease;

  cursor: pointer;
}

.range__btn-arrow--left {
  margin-right: 5px;
}

.range__btn-arrow--right {
  margin-left: 5px;
}

.range__btn-arrow:focus,
.range__btn-arrow:hover {
  opacity: 0.6;
}

.range__btn-arrow:active {
  opacity: 0.3;
}
