.page {
  width: 50%;
  padding-left: 15px;
}

.page input[type="range"] {
  width: 20%;
}

.page__wrapper {
  display: flex;
}

/* Page Ranges */

.page__range {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 250px;
}

.page__range--horizontal,
.page__range--vertical {
  margin-bottom: 40px;
}

.page__range--vertical {
  height: 180px;
}

/* Input number */

.page__input-number {
  margin-left: 25px;
  height: 15px;
}

/* RGB Colorpicker */

.page__color {
  width: 150px;
  height: 150px;
  padding: 0;
  border: 2px solid white;
  background-color: rgb(255, 255, 255);
  box-shadow: 0 0 10px;
  margin-left: 75px;
}

.page__range--colorpicker {
  width: 25px;
  height: 160px;
  margin-bottom: 0;
  margin-right: 10px;
}

.page__range--colorpicker .range__base {
  width: 15px;
  background-color: #fafafa;
  box-shadow: inset 0 1px 1px #f0f0f0, 0 3px 6px -5px #bbbbbb;
}

.page__range--colorpicker .range__handle {
  left: -6px;

  border: 1px solid #d9d9d9;
  border-radius: 3px;
  background: #FFF;
  box-shadow: inset 0 0 1px #ffffff, inset 0 1px 7px #ebebeb, 0 3px 6px -3px #bbbbbb;
}
